.background {
	height:100%;
	width:100%;
}

.panel {
	width:80%;
	height:75%;
	padding: 10px;
	overflow: visible;
}

.panel-content {
    position: relative;
}

.panel-content .onseem-topright {
	position:absolute;
	top:-30px;
	right:-30px;
	z-index:2;
}

.panel-content .onseem-topleft {
	position:absolute;
	top:-30px;
	left:-30px;
	z-index:2;
}

.panel-content .onseem-midleft {
	position:absolute;
	left:-30px;
	top:30%;
	z-index:2;
}