.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-horizontal {
	display: flex;
	flex-flow:row wrap;
}


.f-row-w{
	display:flex;
	flex-flow:row wrap;
	justify-content:space-around;
}
.f-col-w {
	display:flext;
	flex-flew:column wrap;
	justify-content:space-between;
}
.f-row-nw {
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-around;
}

.f-vcenter {
	align-items:center;
	justify-content:space-around;
	align-content:space-between;
}


.flex-pull-right {
	display: felx;
	flex-flow:row nowrap;
}

.f-hcenter {
	justify-content:center;
}

.x-scroll {
	overflow-x:scroll;
	overflow-y:hidden;
}

.panel {
	display: flex;
	flex-flow:row wrap;
	align-items:flex-start;
	justify-content:flex-start;
	align-content:space-between;
	padding: 10px;
	overflow:visible;
}

.f-aside {
	flex:1 1;
}
.f-big { 
	flex:2 1;
}
.f-little {
	flex:1 1;
}

.panel-footer { 
	align-self:flex-end; 
}