.row-w{
	display:flex;
	flex-flow:row wrap;
}
.col-w {
	display:flex;
	flex-flow:column wrap;
}
.row-nw {
	display:flex;
	flex-flow:row nowrap;
}
.col-nw {
	display:flex;
	flex-flow:column nowrap;
}

.v-center {
	align-items:center;
}
.v-top {
	align-items:flex-start;
}
.v-bottom {
	align-items:flex-end;
}
.v-fill {
	align-items:stretch;
}
.v-between {
	align-items:space-between;
}
.v-around {
	align-item:space-around;
}

.h-center {
	justify-content:center;
}
.h-left {
	justify-content:flex-start;
}
.h-right {
	justify-content:flex-end;
}
.h-between {
	justify-content:space-between;
}
.h-around {
	justify-content:space-around;
}

.g-top {
	align-content:flex-start;
}
.g-bottom {
	align-content:flex-end;
}
.g-center {
	align-content:center;
}
.g-stretch {
	align-content:stretch;
}
.g-between {
	align-content:space-between;
}
.g-around {
	align-content:space-around;
}

.x-scroll {
	overflow-x:scroll;
	overflow-y:hidden;
}

.f-aside {
	flex:1 1;
}
.f-big { 
	flex:2 1;
}
.f-little {
	flex:1 1;
}

.panel-footer { 
	align-self:flex-end; 
}