<!-- Simple header with scrollable tabs. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
           <!-- Title -->
           <span class="mdl-layout-title">Chores</span>
        </div>
        
        <!-- Tabs -->
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect" data-bind="foreach: tabs">
            <a href="#scroll-tab" class="mdl-layout__tab" data-bind="text: name"></a>
        </div>
    </header>
    <main class="mdl-layout__content" data-bind="foreach: tabs">
        <section class="mdl-layout__tab-panel">
            <div class="page-content" data-bind="text: placeholder">This is a placeholder</div>
        </section>
    </main>
</div>