<div class="panel Q3 mdl-shadow--2dp">
	<div class="wide mdl-grid mdl-grid--no-spacing flex-center step-down">
		<div class="draggable content flex-center wide">
			<button class="onseem-topright mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
				<i class="material-icons">add</i>
			</button>
			<table class="standard-table">
				<thead>
					<tr>
						<th>&nbsp;</th>
						<th>Name</th>
						<th>Description</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody data-bind="foreach: chores">
					<tr>
						<td>
							<a href="javascript:void(0)">
								<i class="material-icons">settings_overscan</i>
							</a>
						</td>
						<!-- ko ifnot:editable -->
						<td data-bind='text:name'>name</td>
						<td data-bind='text:description'>description</td>
						<!-- /ko -->
						<!-- ko if:editable -->
						<td><input data-bind='value:name' /></td>
						<td><input data-bind='value:description' /></td>
						<!-- /ko -->

						<td>
							<a data-bind="attr:{ href:'#chores/modify/edit/' + id }"><i class="material-icons">edit</i></a>
							<a data-bind="click:$parent.removeChore, attr:{ href:'#chores/modify/delete/' + id}"><i class="material-icons">delete</i></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="blue wide" style="flex:1 2; min-height:500px;"></div>
	<div style="flex:2 1; min-height:500px;"></div>
	<div class="purple wide" style="flex:1 2; min-height:500px;"></div>

	<div id="profiler" class="panel-footer row f-row-w f-vcenter f-hcenter wide"></div>
</div>